<!DOCTYPE html>
<html lang="es"
	th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tabla de recetas disponibles</title>
</head>
<body>
	<main>
		<h1>tabla recetas</h1>
		<table class="table table-sm">
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Dificultad</th>
			</tr>
			<tr th:each="r: ${recetas}" class="col">
				<td th:text="${r.id}"></td>
				<td th:text="${r.nombre}"></td>
				<td th:text="${r.FK_dificultad}"></td>
			</tr>
		</table>
	</main>
</body>
</html>