<!DOCTYPE html>
<html lang="es"
	th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tabla de recetas disponibles</title>
</head>
<body>
	<main>
		<h1>Recetas Disponibles</h1>
		<br> <span> Esto es una lista de las recetas que
			recomendamos en esta Web. Si quieres añadir una receta a la lista
			pulsa el enlace de añadir situado arriba a la derecha. </span> <br>
			<br><br>
		<table
			class="table table-striped-columns">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nombre</th>
					<th scope="col">Dificultad</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="r: ${recetas}" class="col">
					<td th:text="${r.id}"></td>
					<td th:text="${r.nombre}"></td>
					<td th:text="${r.FK_dificultad}"></td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>