<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Detalle: Floristeria2</title>
</head>

<body>

	<main>
		<pre th:text="${producto}">Visualización de producto</pre>

		<ul>
			<li th:text="${producto.tipo_producto}">Complemento</li>
			<li th:text="${producto.nombre}">Jarrón</li>
			<li th:text="${producto.precio}">123,12€</li>
		</ul>

		<a href="index.html" th:href="@{/}">Volver</a>
	</main>
</body>

</html>